.block-filter__input[type=range] {
    width: 100%; // flex-shrink: ;
}

.block-filter__input {
    appearance: none;
    height: 20px;
    background-color: #C1C1C1;
    outline: none;
    height: 4px;
    border-radius: 1px;
}

.block-filter__input::-webkit-slider-thumb {
    appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #106CC8;
}

.main__filterAlcohol,
.main__filterIBU,
.main__filterEBC {
    display: flex;
    align-items: center;
    margin: 1.2em 0px;
}

.main__title {
    font-size: 1.3em;
}

.main__value {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 25%;
    div {
        font-size: 1.7em;
        width: 3em;
    }
}