.block-filter {
    margin: 40px auto;
    width: 30%;
}

.block-filter__input {
    display: flex;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 20px;
}

.block-filter__cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: blue;
    z-index: 2;
}

.block-filter__line {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 4px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.block-filter__line--active {
    position: absolute;
    background: red;
    width: 100%;
    height: 4px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
}